
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(135, 131, 84);
    color: white;
}

h1{
    text-align: center;
}


nav ul {
    display: flex;
    gap:8px;
    justify-content: center;
}
ul li{
    list-style: none;
    background-color: black;
    padding: 8px 8px;
    border-radius: 10px;
}
ul li:hover{
    cursor: pointer;
    background-color: white;
    color: black;

}

main{
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
}
section{
    width: 400px;
    height: 100%;
}
section p {
    text-align: justify;
}
section img {
    width: 200px;    
}